{% extends "base_generic.html" %}
{% block content %}

<form action="" method="post" style="max-width: 600px">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>
            <label for="id_email">Enter reset email:</label>
            <input type="email" class="form-control" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
        </p> 
    <input type="submit" class="btn btn-danger" value="Reset password" />
</form>

{% endblock %}